{% load static %}
<!DOCTYPE html>
<html>
<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <style>
    body {
        padding-top: 20px;
    }
    .custom-container {
            background-color: #f8f9fa; /* Gray background color */
            border-radius: 15px; /* Rounded corners */
            padding: 20px; /* Padding inside the container */
    }
  </style>
</head>
<body>

    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 custom-container text-center">
                <h2>{{  date  }}</h2>
                <div class="container">
                    {% for waypoint in waypoints %}
                        {% with waypoint.waypointTitle as waypointTitle %}
                        {% with waypoint.waypointAddress as waypointAddress %}
                        
                        <div class="row my-2">
                            <div class="col-md-8 offset-md-2">
                                {% include './tripStop.html' %}
                            </div>
                        </div>
                
                        {% if not waypoint.isFinal %}
                            {% with waypoint.travelTime as travelTime %}
                                <div class="row my-2">
                                    <div class="col-md-8 offset-md-2">
                                        {% include './travelDetails.html' %}
                                    </div>
                                </div>
                            {% endwith %}
                        {% endif %}
                
                        {% endwith %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    


</body>
</html>